firstassignment/__pycache__/
firstassignment/NP2003/Fold1/Raw/*
.idea
firstassignment/models/
*.pyc

project/dataset/data/*
project/ckpt/checkpoint
project/ckpt/*.index
project/ckpt/*.meta
project/ckpt/*.data*